/*
  @file: main.css
 
  @purpose: main css file for the project to load tailwindcss, other css stylings and files.

*/

/** imports */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Radio+Canada&display=swap');

html {
    font-family: 'Changa', sans-serif;
    background-color: #fafafa;
}




.shadow-custom {
    box-shadow: rgba(6, 18, 37, 0.259) 2px -5px 15px;
    border: 2px solid rgb(240, 247, 255);
}


.shadow-dark {
    box-shadow: rgba(6, 18, 37, 0.412) 9px 0px 12px;
    border: 1px solid rgba(121, 121, 121, 0.105);
}


.moonlight {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* CSS */
.button-56 {
    align-items: center;
    background-color: #1c264a;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background: #1326923b;  

    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #341010;
    outline: 0;
}

.button-56:hover {
    background-color: black;
    outline: 0;
}

@media(min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}



.rotation-ball {
    animation: rotation 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.main-fade {
    animation: slideAndFade 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.bubble-text {
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: 800;
}



   @keyframes slideAndFade {
       0% {
           opacity: 0;
           /*  slide in from the left  */
       }
       100% {
           opacity: 1;
           transform: translate(0);
       }
   }


@keyframes rotation {
 0% {
        opacity: 0;
        transform: translateX(20px) rotate(0deg);
        padding: 150px;
        /** move to the left */
        transform: matrix(1, 0, 0, 1, -20, 0);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
 }

 50% {
        transform: translateX(20px) rotate(360deg);
 }

 75% {
        padding:64px;
 }

    100% {
        opacity: 0.6;
        transform: translateY(0) rotate(180deg);
        padding: 48px;
    }
}


#half {
 background-color: #ebf6ffc6;
     

}


.slide-in-left-fade {
    animation: slideInLeftFade 5s;
}

.slide-in-right-fade {
    animation: slideInRightFade 5s;

}

@keyframes slideInRightFade {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }

}



@keyframes slideInLeftFade {
    0% {
        opacity: 0;
        transform: translateX(-0px);
    }
    100% {
        opacity: 1;
        transform: translateX(500px);
    }
    
}