/*
  @file: main.css
 
  @purpose: main css file for the project to load tailwindcss, other css stylings and files.

*/

/** imports */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Radio+Canada&display=swap');


html {
    font-family: 'Changa', sans-serif;
}

.shadow-custom {
    box-shadow: rgba(6, 18, 37, 0.549) 2px 3px 6px;
    border: 2px solid rgb(255, 255, 255);
}



.line {
    padding: 5px;
    background-color: #1c4abfbd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    /** roltate */
    transform: rotate(180deg);
}

.card {
    background-color: rgba(214, 227, 246, 0.223);
    border-left: 10px solid #85a8ff3d;
    border-right: 10px solid #6792ff3d;
    border-bottom: 10px solid #5d8bff50;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* CSS */
.button-56 {
    align-items: center;
    background-color: #1c264a;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background: #1326923b;  

    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #341010;
    outline: 0;
}

.button-56:hover {
    background-color: black;
    outline: 0;
}

@media(min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}
